/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: lightblue; */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 140%;
    /* background: url("/assets/images/bg-superhuman.jpg") no-repeat fixed; */
    /* background-size: cover; */
    /* font-family: 'Droid Serif', serif; */
    font-size: 14px;
    color: #2f2f2f;
    /* background-color: #f9f7f1; */
    background-color: #362F2F;
    /* background-color: black; */
}


/* .container {
    margin: 0;
    padding: 0;
} */